body{
    background-color: rgb(255, 142, 0);
    justify-content: center;
}

.container {
    height: 100vh;
    margin-top: 3rem;
    width: 40rem;
    font-size: 150%;
}
.title{
    background-color: rgb(255, 23, 0);
    font-size: 150%;
    
    padding: 2rem;
    border-radius: 0.8rem;
    justify-content: space-between;
    font-style: italic;
}
input{
    background-color: rgb(6, 255, 0);
    width: 100%;
   
}

ul, li{
    background-color: rgb(6, 255, 0);
}
li{
    list-style: none;
}


